body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  padding: 0 1rem;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 10rem 0;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card-content {
  flex-grow: 1;
}
img,
iframe {
  max-width: 100%;
}
iframe {
  width: 600px;
  height: 350px;
}

a:hover {
  text-decoration: underline;
}
.active {
  font-size: 20px;
  font-weight: 700;
}

button {
  margin-top: 15px;
  height: 30px;
}
.category {
  font-weight: 700;
  margin-bottom: 15px;
}
.price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: darkgreen;
}
.rarity {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgb(194, 106, 216);
}

span {
  font-weight: 700;
}

.header-menu {
  position: fixed;
  top: 0;
  z-index: 1;
}
.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.cart-quantity {
  color: azure;
  font-size: 14px;
}

.basket {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 991.98px;
  transform: translate(-50%, -50%);
  animation: show 0.5s ease-in-out;
  @media (max-width: 991.98px) {
    & {
      max-width: 95%;
    }
  }
}

.basketClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes show {
  from {
    left: 0;

    opacity: 0;
  }
  to {
    left: 50%;

    opacity: 1;
  }
}

.goods {
  display: block;
  position: fixed;
  top: 8%;
  right: 0%;
  max-width: 300px;
  padding: 5px 10px;
  background-color: rgba(19, 18, 18, 0.8);
  color: white;
  font-size: 16px;
  z-index: 150;
  animation: isOrder 0.5s ease-in-out;
}

@keyframes isOrder {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 8%;
    opacity: 1;
  }
}
.plus {
  color: rgb(21, 197, 74);
  vertical-align: middle;
  cursor: pointer;
}
